<a href="https://colab.research.google.com/github/Diggi14/property/blob/main/house_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [ ]:
!git clone https://github.com/Diggi14/property.git

fatal: destination path 'property' already exists and is not an empty directory.

In [ ]:
df=pd.read_csv('/content/property/houses.csv')

In [ ]:
df.head(5)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in Sector 70A Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K70037724
1,5 Bedroom House for sale in Sector 21A Faridabad,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,E69288322
2,10 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/10-bhk-bedroom-indepen...,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",F69536898
3,21 Bedroom House for sale in Sector 54 Gurgaon,https://www.99acres.com/21-bhk-bedroom-indepen...,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",R69483164
4,12 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/12-bhk-bedroom-indepen...,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",M69381272

In [ ]:
df.drop(['link','property_id'],axis=1,inplace=True)

In [ ]:
df.duplicated().sum()

np.int64(21)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['society'].value_counts()

society
International City by SOBHA Phase 2                  26
Vipul Tatvam Villa                                   23
Emaar MGF Marbella                                   22
International City by Sobha Phase 1                  22
Unitech Uniworld Resorts                             13
Unitech Espace                                       11
DLF City Plots Phase 2                               11
DLF City Plots                                       11
Eldeco Mansionz                                       9
Bptp Visionnaire                                      8
Not Applicable                                        7
Uppal Southend4.0 ★                                   7
Ansals Palam Vihar                                    6
Sushant Lok 1 Builder Floors                          6
DLF City Phase 1                                      5
Ansal Sushant Lok Plots4.1 ★                          4
Experion Windchants3.8 ★                              4
Unitech Aspen Greens                                  4
nul                                                   4
Vatika India Next4.1 ★                                4
DLF Alameda                                           4
Puri Diplomatic Greens4.0 ★                           3
DLF City Plots Phase 3                                3
Housing Board Colony                                  3
Anant Raj Estates                                     3
Malibu Towne                                          3
SS Aaron Ville                                        3
Vatika Signature Villas                               3
Eros Rosewood Villas                                  3
BPTP Astaire Gardens3.7 ★                             3
Unitech Nirvana Birch Court                           3
Ansals Florence Villa                                 3
Eros Rosewood City4.0 ★                               3
Sector 14 RWA                                         3
Palam Vihar Extension West Zone RWA                   3
DLF New Town Heights 24.0 ★                           3
Rattan Garden                                         3
Tata Primanti4.1 ★                                    3
shivpuri                                              2
Emaar Emerald Hills4.1 ★                              2
Unitech Deerwood Chase                                2
Project Housing Board Colony                          2
Project Mianwali Colony                               2
Bestech Park View Ananda4.2 ★                         2
Spaze Privy3.9 ★                                      2
Central Park Flower Valley                            2
Suncity Essel Towers4.2 ★                             2
Ansal API Esencia3.7 ★                                2
Luxury DLF City Floors                                2
Saksham Welfare Association                           2
Unitech Palms South City 1                            2
BPTP Pedestal                                         2
RWA Sector 46                                         2
Emaar The Palm Springs                                2
Suncity Township4.1 ★                                 2
Nirvana Cedar Crest                                   2
SS Hibiscus                                           2
Silverglades Tarudhan Valley Golf Resort              2
Ardee City3.8 ★                                       2
Hans Enclave                                          2
Satya The Hermitage3.5 ★                              2
Sobha City                                            2
IFFCO Nagar and 17B RWA                               2
Bhim Garh Kheri                                       2
Sector 38 RWA                                         2
Unitech Escape3.8 ★                                   2
ATS Tourmaline3.9 ★                                   1
house number B-34                                     1
Rajendra Park Gurgaon                                 1
DLF Gardencity Enclave                                1
Surat nagar phase 2                                   1
My Home                                               1
Signature Global Park4.0 ★                            1
Sector-17C                                            1
huda sector-56 gurgaon                                1
private house                                         1
Grover Homes Sec 4                                    1
sector 37                                             1
FLOOR WISE DESIGNER KOTHI                             1
DLF New Town Heights3.7 ★                             1
All Punjabi Welfare Association                       1
Ansal Heights3.2 ★                                    1
Ninex City                                            1
rajendra park sec 105                                 1
HUDA Ashok Vihar Phase 13.9 ★                         1
Ashok Vihar Phase 3 Gurgaon                           1
Farrukhnagar                                          1
Prem Kunj                                             1
secter 16a daultabad faridabad house no 313           1
Bhawani enclave                                       1
Ansal Celebrity Homes                                 1
Shri Shyam Residency                                  1
HUDA Housing Board Colony4.1 ★                        1
Tulip Yellow                                          1
shree krishna homes                                   1
Laxmi Garden Sector-11                                1
ROW HOUSE                                             1
Jacobpura                                             1
Indiabulls Centrum Park3.7 ★                          1
Krishna Palace                                        1
Huda Flats                                            1
Naman Residency                                       1
Madan puri                                            1
Smart World Gems                                      1
Tulip Ivory3.5 ★                                      1
MANOHAR NAGAR                                         1
Vatika Sovereign Next                                 1
DLF The Grove                                         1
Surendra Homes Dayanand Colony                        1
RK Excelo                                             1
Anand Garden, Sector-105                              1
Jacobpura Gurugram                                    1
Hero Homes                                            1
Ganpati Heights Apartment                             1
Huda Plots                                            1
DLF Garden City Floors                                1
Emaar MGF The Palm Drive4.1 ★                         1
Anamika Enclave                                       1
bhim nagar, sector 6                                  1
DLF The Arbour                                        1
Om Nagar, Sector-11                                   1
Suncity Avenue 76                                     1
SS Omnia                                              1
Anshul                                                1
Sare Crescent Parc Royal Greens Phase 1               1
Greenopolis                                           1
Vipul World3.9 ★                                      1
Nirmal Enclave, Maruti Kunj Road                      1
Ansal Esencia Sovereign Floors                        1
Raj Villas                                            1
Shivaji Nagar Residential                             1
jacob pura                                            1
mahavir pura                                          1
Bhim Nagar Society                                    1
Sai Kripa Floors 5                                    1
DLF City Plot Phase 4                                 1
Signature Global City 92                              1
mian wali                                             1
HUDA Plot Sector 38                                   1
nirvana country                                       1
Landmark House                                        1
Nitin Vihar                                           1
Sector 15 Part 2 RWA                                  1
cloudnine cottages                                    1
u block dlf phase 3 road no 21                        1
Ashok vihar phase III Extension                       1
Ansal                                                 1
Adani Brahma Samsara4.2 ★                             1
Sheetla Enclave                                       1
DLF City Plot Phase 3                                 1
Signature Global City 63A                             1
rattan vihar rajendra park                            1
sneh vihar                                            1
Unitech South City 23.8 ★                             1
Smart World Orchard                                   1
Ansal Florence Super                                  1
Ireo Victory Valley4.1 ★                              1
Ansal API Spanish Court                               1
4S Aradhya Homes                                      1
Birla Navya                                           1
Central Park Flower Valley Cerise Floors              1
DLF City Plots Phase 4                                1
Kothi                                                 1
Ansal Sushant Lok                                     1
Central Park                                          1
Signature Global City                                 1
DLF Floors Phase 3                                    1
Ansal Sushant Residency                               1
DLF South City 1                                      1
Ireo Victory Valley4.0 ★                              1
Independent House Sector 45                           1
Vatika The Seven Lamps3.8 ★                           1
Unitech Greenwood City3.6 ★                           1
Nirvana Country                                       1
Signature Global City 81                              1
Satya The Legend3.8 ★                                 1
DLF Pink Town House4.0 ★                              1
Vatika Independent Floors3.8 ★                        1
Arjun Marg/ Sector- 26 Phase- 1/ Golf Course Road     1
The Laburnum                                          1
Ansal Sushant Lok 2                                   1
Sector 57 Huda                                        1
Godrej Meridien                                       1
Huda                                                  1
Huda Floor                                            1
Name: count, dtype: int64

In [ ]:
def remove_rating(x):
  x=str(x)
  if('★' in x):
    return x[:-5]
  else:
    return x

In [ ]:
df['society']=df['society'].apply(remove_rating)

In [ ]:
df['society'].value_counts()

society
nan                                                  586
International City by SOBHA Phase 2                   26
Vipul Tatvam Villa                                    23
International City by Sobha Phase 1                   22
Emaar MGF Marbella                                    22
Unitech Uniworld Resorts                              13
Unitech Espace                                        11
DLF City Plots                                        11
DLF City Plots Phase 2                                11
Eldeco Mansionz                                        9
Bptp Visionnaire                                       8
Not Applicable                                         7
Uppal Southend                                         7
Sushant Lok 1 Builder Floors                           6
Ansals Palam Vihar                                     6
DLF City Phase 1                                       5
DLF Alameda                                            4
nul                                                    4
Ansal Sushant Lok Plots                                4
Unitech Aspen Greens                                   4
Experion Windchants                                    4
Vatika India Next                                      4
DLF City Plots Phase 3                                 3
Tata Primanti                                          3
Anant Raj Estates                                      3
Housing Board Colony                                   3
SS Aaron Ville                                         3
Eros Rosewood City                                     3
Eros Rosewood Villas                                   3
BPTP Astaire Gardens                                   3
Unitech Nirvana Birch Court                            3
Ansals Florence Villa                                  3
Vatika Signature Villas                                3
Malibu Towne                                           3
Palam Vihar Extension West Zone RWA                    3
Puri Diplomatic Greens                                 3
Rattan Garden                                          3
Sector 14 RWA                                          3
DLF New Town Heights 2                                 3
shivpuri                                               2
Unitech Deerwood Chase                                 2
Project Mianwali Colony                                2
Project Housing Board Colony                           2
Bestech Park View Ananda                               2
Spaze Privy                                            2
Central Park Flower Valley                             2
Suncity Essel Towers                                   2
Ansal API Esencia                                      2
Luxury DLF City Floors                                 2
Emaar Emerald Hills                                    2
Unitech Palms South City 1                             2
BPTP Pedestal                                          2
Saksham Welfare Association                            2
Nirvana Cedar Crest                                    2
Suncity Township                                       2
Ireo Victory Valley                                    2
Emaar The Palm Springs                                 2
Silverglades Tarudhan Valley Golf Resort               2
RWA Sector 46                                          2
Hans Enclave                                           2
Satya The Hermitage                                    2
Bhim Garh Kheri                                        2
Sobha City                                             2
IFFCO Nagar and 17B RWA                                2
SS Hibiscus                                            2
Ardee City                                             2
Unitech Escape                                         2
Sector 38 RWA                                          2
Rajendra Park Gurgaon                                  1
Surat nagar phase 2                                    1
My Home                                                1
Signature Global Park                                  1
DLF Gardencity Enclave                                 1
Sector-17C                                             1
private house                                          1
DLF New Town Heights                                   1
Grover Homes Sec 4                                     1
sector 37                                              1
FLOOR WISE DESIGNER KOTHI                              1
All Punjabi Welfare Association                        1
Ninex City                                             1
rajendra park sec 105                                  1
Ansal Heights                                          1
huda sector-56 gurgaon                                 1
HUDA Ashok Vihar Phase 1                               1
Ashok Vihar Phase 3 Gurgaon                            1
Farrukhnagar                                           1
Prem Kunj                                              1
secter 16a daultabad faridabad house no 313            1
ATS Tourmaline                                         1
house number B-34                                      1
Ansal Celebrity Homes                                  1
Tulip Yellow                                           1
shree krishna homes                                    1
Laxmi Garden Sector-11                                 1
HUDA Housing Board Colony                              1
mian wali                                              1
Indiabulls Centrum Park                                1
Jacobpura                                              1
Huda Flats                                             1
Krishna Palace                                         1
HUDA Plot Sector 38                                    1
Smart World Gems                                       1
Ganpati Heights Apartment                              1
Huda Plots                                             1
Vatika Sovereign Next                                  1
MANOHAR NAGAR                                          1
Anamika Enclave                                        1
Surendra Homes Dayanand Colony                         1
DLF The Grove                                          1
RK Excelo                                              1
Anand Garden, Sector-105                               1
Jacobpura Gurugram                                     1
Hero Homes                                             1
DLF Garden City Floors                                 1
Emaar MGF The Palm Drive                               1
Tulip Ivory                                            1
bhim nagar, sector 6                                   1
DLF The Arbour                                         1
Bhawani enclave                                        1
Om Nagar, Sector-11                                    1
SS Omnia                                               1
Anshul                                                 1
Sare Crescent Parc Royal Greens Phase 1                1
Vipul World                                            1
Ansal Esencia Sovereign Floors                         1
Greenopolis                                            1
jacob pura                                             1
Nirmal Enclave, Maruti Kunj Road                       1
Shivaji Nagar Residential                              1
Bhim Nagar Society                                     1
mahavir pura                                           1
Raj Villas                                             1
Naman Residency                                        1
Sai Kripa Floors 5                                     1
DLF City Plot Phase 4                                  1
Signature Global City 92                               1
Shri Shyam Residency                                   1
Madan puri                                             1
ROW HOUSE                                              1
Landmark House                                         1
Ansal                                                  1
cloudnine cottages                                     1
u block dlf phase 3 road no 21                         1
Sector 15 Part 2 RWA                                   1
rattan vihar rajendra park                             1
Ashok vihar phase III Extension                        1
sneh vihar                                             1
Suncity Avenue 76                                      1
Adani Brahma Samsara                                   1
DLF City Plot Phase 3                                  1
Signature Global City 63A                              1
Sheetla Enclave                                        1
Unitech South City 2                                   1
Smart World Orchard                                    1
Ansal Florence Super                                   1
4S Aradhya Homes                                       1
Ansal API Spanish Court                                1
Kothi                                                  1
Birla Navya                                            1
Central Park Flower Valley Cerise Floors               1
DLF City Plots Phase 4                                 1
nirvana country                                        1
Nitin Vihar                                            1
Signature Global City 81                               1
Central Park                                           1
DLF South City 1                                       1
DLF Floors Phase 3                                     1
Ansal Sushant Residency                                1
Independent House Sector 45                            1
Nirvana Country                                        1
Vatika The Seven Lamps                                 1
Unitech Greenwood City                                 1
Ansal Sushant Lok                                      1
Signature Global City                                  1
Satya The Legend                                       1
DLF Pink Town House                                    1
Vatika Independent Floors                              1
Arjun Marg/ Sector- 26 Phase- 1/ Golf Course Road      1
The Laburnum                                           1
Ansal Sushant Lok 2                                    1
Sector 57 Huda                                         1
Godrej Meridien                                        1
Huda                                                   1
Huda Floor                                             1
Name: count, dtype: int64

In [ ]:
df['society']=df['society'].str.replace('nan','independent')

In [ ]:
df.head(5)

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [ ]:
df['price']

0             5.25 Crore
1              5.7 Crore
2              2.1 Crore
3                5 Crore
4                3 Crore
5              4.5 Crore
6               12 Crore
7               20 Crore
8            10.85 Crore
9             1.95 Crore
10            4.45 Crore
11               9 Crore
12               5 Crore
13              15 Crore
14            8.25 Crore
15               2 Crore
16           10.75 Crore
17             2.1 Crore
18            7.35 Crore
19            4.45 Crore
20             3.4 Crore
21              12 Crore
22             8.4 Crore
23             8.5 Crore
24             7.6 Crore
25               7 Crore
26            4.75 Crore
27             3.5 Crore
28               5 Crore
29           10.56 Crore
30            5.46 Crore
31              10 Crore
32               9 Crore
33              10 Crore
34            1.95 Crore
35             3.3 Crore
36              13 Crore
37             7.2 Crore
38               6 Crore
39               9 Crore
40             5.8 Crore
41             55.11 Lac
42            7.49 Crore
43            13.5 Crore
44           11.95 Crore
45           12.39 Crore
46            6.25 Crore
47                   NaN
48             5.4 Crore
49            5.75 Crore
50            2.55 Crore
51             5.6 Crore
52              17 Crore
53            7.99 Crore
54            3.75 Crore
55            7.25 Crore
56             8.4 Crore
57            3.55 Crore
58             2.5 Crore
59             2.5 Crore
60               9 Crore
61             2.1 Crore
62                   NaN
63                   NaN
64             4.5 Crore
65             6.5 Crore
66                   NaN
67                   NaN
68                   NaN
69                   NaN
70                   NaN
71                   NaN
72                   NaN
73                   NaN
74                   NaN
75                   NaN
76                   NaN
77                   NaN
78                   NaN
79             9.5 Crore
80               5 Crore
83                   NaN
85                   NaN
86                   NaN
88                   NaN
89                   NaN
90             5.5 Crore
91            5.65 Crore
92                   NaN
93                   NaN
94                   NaN
95                   NaN
97                   NaN
98                   NaN
99                   NaN
100                  NaN
101            8.8 Crore
104                  NaN
105                  NaN
106           3.25 Crore
107              5 Crore
108          10.45 Crore
109           19.5 Crore
110                  NaN
111                  NaN
112            7.5 Crore
113               67 Lac
114           5.75 Crore
115                  NaN
116            5.7 Crore
117            3.2 Crore
118           11.5 Crore
119           7.69 Crore
120              7 Crore
121           1.55 Crore
122           3.85 Crore
123              2 Crore
124            3.1 Crore
125           2.25 Crore
126              7 Crore
127            8.5 Crore
128            8.7 Crore
129           12.5 Crore
130            6.8 Crore
131            9.5 Crore
132              7 Crore
133            6.2 Crore
134            3.6 Crore
135           3.05 Crore
136            5.9 Crore
137           5.85 Crore
138              4 Crore
139           5.35 Crore
140            6.6 Crore
141            6.3 Crore
142             12 Crore
143               65 Lac
144               55 Lac
145               85 Lac
146               58 Lac
147               65 Lac
148               61 Lac
149               67 Lac
150            5.8 Crore
151              6 Crore
152           6.25 Crore
153           7.05 Crore
154            4.5 Crore
155           3.69 Crore
156            2.5 Crore
157            5.5 Crore
158             15 Crore
159           6.95 Crore
160            5.7 Crore
161           11.3 Crore
162          11.25 Crore
163           4.02 Crore
164            5.7 Crore
165              1 Crore
166               66 Lac
167               70 Lac
168           1.45 Crore
169               95 Lac
170            4.5 Crore
171               90 Lac
172               45 Lac
173              1 Crore
174               60 Lac
175              7 Crore
176           3.93 Crore
177              4 Crore
178               75 Lac
179               90 Lac
180           2.75 Crore
181               50 Lac
182               50 Lac
183               42 Lac
184               60 Lac
185               48 Lac
186               50 Lac
187               35 Lac
188              4 Crore
189            2.4 Crore
190            2.2 Crore
191            1.1 Crore
192              8 Crore
193               82 Lac
194               90 Lac
195               70 Lac
196               95 Lac
197            1.3 Crore
198               36 Lac
199            3.5 Crore
200               80 Lac
201             15.5 Lac
202               80 Lac
203              6 Crore
204            2.8 Crore
205           2.75 Crore
206           1.75 Crore
207            3.1 Crore
208           1.16 Crore
209               85 Lac
210               90 Lac
211               34 Lac
212              5 Crore
213               36 Lac
214              5 Crore
215            9.5 Crore
216           7.25 Crore
217            1.5 Crore
218            1.3 Crore
219           3.75 Crore
220               37 Lac
221           2.25 Crore
222           1.15 Crore
223               95 Lac
224               49 Lac
225           1.45 Crore
226               80 Lac
227            1.6 Crore
228               85 Lac
229              7 Crore
230               50 Lac
231              8 Crore
232               45 Lac
233               62 Lac
234              1 Crore
235           4.12 Crore
236               95 Lac
237               45 Lac
238               45 Lac
239           1.87 Crore
240               85 Lac
241               42 Lac
242               42 Lac
243            1.2 Crore
244            6.5 Crore
245           3.75 Crore
246            2.5 Crore
247           2.25 Crore
248               75 Lac
249               30 Lac
250                  NaN
251           1.35 Crore
252            4.7 Crore
253               60 Lac
254               22 Lac
255           1.65 Crore
256               50 Lac
257            2.3 Crore
258           1.25 Crore
259            1.7 Crore
260     Price on Request
261     Price on Request
262              6 Crore
263            2.8 Crore
264           3.12 Crore
265              7.5 Lac
266            3.5 Crore
267           2.58 Crore
268            8.5 Crore
269              4 Crore
270           1.45 Crore
271               60 Lac
272            1.1 Crore
273                  NaN
274            2.5 Crore
275            3.5 Crore
276           2.95 Crore
278                  NaN
279               70 Lac
280           1.16 Crore
281             16 Crore
282            8.5 Crore
283           8.95 Crore
284                  NaN
285             14 Crore
286               85 Lac
287           1.35 Crore
288           13.2 Crore
289              6 Crore
290     Price on Request
291     Price on Request
292                  NaN
293                  NaN
294                  NaN
295                  NaN
296                  NaN
297               51 Lac
298            1.1 Crore
299                  NaN
300            2.5 Crore
301               53 Lac
302              2 Crore
303               63 Lac
304              8 Crore
305               45 Lac
306               37 Lac
307           1.72 Crore
308           1.35 Crore
309               50 Lac
310               62 Lac
311              8 Crore
312            1.8 Crore
313            1.7 Crore
314               55 Lac
315            1.5 Crore
316           1.55 Crore
317               32 Lac
318                  NaN
319                  NaN
320                  NaN
321                  NaN
322            2.1 Crore
323            5.6 Crore
324                  NaN
325                  NaN
326                  NaN
327               65 Lac
328            1.6 Crore
329               78 Lac
330               95 Lac
331           3.85 Crore
332               66 Lac
333               45 Lac
334               85 Lac
335            1.5 Crore
336           1.52 Crore
337              1 Crore
338           1.05 Crore
339               85 Lac
340               58 Lac
341               45 Lac
342           1.35 Crore
343               70 Lac
344            1.4 Crore
345           5.15 Crore
346            6.5 Crore
347            3.5 Crore
348           13.5 Crore
349            5.7 Crore
350            3.3 Crore
351           1.75 Crore
352               75 Lac
353            3.5 Crore
354               92 Lac
355     Price on Request
356               52 Lac
357            1.1 Crore
358               75 Lac
359           1.25 Crore
360           4.25 Crore
361               37 Lac
362            5.7 Crore
363               80 Lac
364            2.1 Crore
365            1.1 Crore
366               60 Lac
367            1.2 Crore
368            4.5 Crore
369               80 Lac
370            1.1 Crore
371                  NaN
372              3 Crore
373            8.5 Crore
374            1.1 Crore
375               75 Lac
376              6 Crore
377               82 Lac
378               35 Lac
379           1.15 Crore
380           1.85 Crore
381            8.5 Crore
382               90 Lac
383               50 Lac
384     Price on Request
385           5.75 Crore
386           4.65 Crore
387            7.2 Crore
388               60 Lac
389            4.5 Crore
390            1.3 Crore
391            3.2 Crore
392               60 Lac
393           1.95 Crore
394           1.25 Crore
395            6.1 Crore
396               50 Lac
397              2 Crore
398            2.1 Crore
399           1.25 Crore
400               65 Lac
401           11.5 Crore
402               90 Lac
403               75 Lac
404            1.3 Crore
405               48 Lac
406               68 Lac
407            1.5 Crore
408            1.3 Crore
409               60 Lac
410            6.5 Crore
411               49 Lac
412           1.07 Crore
413            2.1 Crore
414            4.6 Crore
415              1 Crore
416            1.1 Crore
417           2.95 Crore
418            4.6 Crore
419               35 Lac
420            1.5 Crore
421             10 Crore
422            5.2 Crore
423               40 Lac
424               62 Lac
425               50 Lac
426              5 Crore
427               92 Lac
428            3.5 Crore
429               80 Lac
430            1.5 Crore
431           2.25 Crore
432           13.5 Crore
433               50 Lac
434            1.7 Crore
435               45 Lac
436                  NaN
437            1.2 Crore
438            1.8 Crore
439            1.5 Crore
440               35 Lac
441               55 Lac
442            4.3 Crore
443               40 Lac
444                  NaN
445              3 Crore
446            42.75 Lac
447     Price on Request
448               32 Lac
449               47 Lac
450            5.5 Crore
451               75 Lac
452               71 Lac
453               38 Lac
454           3.25 Crore
455             52.5 Lac
456            2.3 Crore
457            1.5 Crore
458            1.1 Crore
459           1.35 Crore
460            1.3 Crore
461           1.25 Crore
462                  NaN
463           1.44 Crore
464               50 Lac
465              1 Crore
466            5.5 Crore
467            5.5 Crore
468               80 Lac
469               90 Lac
470            4.3 Crore
471               90 Lac
472           3.25 Crore
473               38 Lac
474           3.71 Crore
475             13 Crore
476               40 Lac
477               55 Lac
478            1.3 Crore
479               75 Lac
480               30 Lac
481               18 Lac
482           1.55 Crore
483               32 Lac
484              4 Crore
485               38 Lac
486             12 Crore
487              8 Crore
488               45 Lac
489            1.2 Crore
490               40 Lac
491              1 Crore
492               50 Lac
493           1.15 Crore
494               70 Lac
495           3.08 Crore
496           2.95 Crore
497              8 Crore
498            6.5 Crore
499              3 Crore
500              8 Crore
501           2.75 Crore
502           2.25 Crore
503           1.45 Crore
504            3.5 Crore
505               82 Lac
506           10.5 Crore
507               38 Lac
508             10 Crore
509               75 Lac
510            4.6 Crore
511               50 Lac
512              7 Crore
513               35 Lac
514               95 Lac
515            1.6 Crore
516               29 Lac
517               24 Lac
518            5.6 Crore
519               55 Lac
520              5 Crore
521            1.8 Crore
522     Price on Request
523            1.5 Crore
524           1.05 Crore
525            1.8 Crore
526               44 Lac
527               83 Lac
528               70 Lac
529               98 Lac
530           3.35 Crore
531             47.5 Lac
532            1.2 Crore
533              9 Crore
534           3.09 Crore
535           3.15 Crore
536            1.7 Crore
537           4.75 Crore
538           1.65 Crore
539               85 Lac
540              2 Crore
541               74 Lac
542           1.85 Crore
543               40 Lac
544               85 Lac
545               69 Lac
546               85 Lac
547             13 Crore
548     Price on Request
549            1.4 Crore
550            1.8 Crore
551               70 Lac
552               70 Lac
553            2.4 Crore
554           3.35 Crore
555              7 Crore
556           1.65 Crore
557               60 Lac
558           2.43 Crore
559            3.5 Crore
560               34 Lac
561               75 Lac
562               55 Lac
563               70 Lac
564           6.25 Crore
565            1.2 Crore
566               49 Lac
567              2 Crore
568               37 Lac
569               42 Lac
570               75 Lac
571            3.5 Crore
572            4.5 Crore
573           1.16 Crore
574               90 Lac
575               75 Lac
576               13 Lac
577               96 Lac
578           1.35 Crore
579               65 Lac
580             11 Crore
581          18.02 Crore
582             65.8 Lac
583            4.6 Crore
584                  NaN
585            1.9 Crore
586            1.5 Crore
587            2.5 Crore
588               70 Lac
589               85 Lac
590              2 Crore
591               70 Lac
592               89 Lac
593               80 Lac
594            1.6 Crore
595               89 Lac
596           1.34 Crore
597            1.7 Crore
598               34 Lac
599            9.9 Crore
600               40 Lac
601           2.15 Crore
602           1.85 Crore
603               45 Lac
604            58.25 Lac
605            1.7 Crore
606               46 Lac
607               80 Lac
608            58.25 Lac
609            2.6 Crore
610              2 Crore
611           3.87 Crore
612               65 Lac
613           2.25 Crore
614               85 Lac
615              2 Crore
616             10 Crore
617            3.5 Crore
618               55 Lac
619            6.5 Crore
620           1.39 Crore
621     Price on Request
622               70 Lac
623               59 Lac
624              4 Crore
625           12.5 Crore
626            1.6 Crore
627            1.6 Crore
628            2.9 Crore
629               40 Lac
630            1.7 Crore
631            5.5 Crore
632           6.75 Crore
633            5.5 Crore
634           2.75 Crore
635               27 Lac
636               70 Lac
637               95 Lac
638            8.1 Crore
639              7 Crore
640               38 Lac
641               60 Lac
642               65 Lac
643            7.2 Crore
644            1.5 Crore
645             10 Crore
646           15.5 Crore
647          14.75 Crore
648             20 Crore
649           9.54 Crore
650          10.55 Crore
651           17.3 Crore
652           3.65 Crore
653           18.9 Crore
654              9 Crore
655             24 Crore
656           2.15 Crore
657           2.25 Crore
658           7.46 Crore
659           6.75 Crore
660            59.95 Lac
661           3.99 Crore
662           6.81 Crore
663            6.5 Crore
664           6.95 Crore
665              7 Crore
666           3.85 Crore
667            3.2 Crore
668           8.81 Crore
669           1.45 Crore
670            8.9 Crore
671            6.5 Crore
672           4.49 Crore
673             22 Crore
674            9.5 Crore
675              7 Crore
676           4.15 Crore
677            2.9 Crore
678             12 Crore
679            8.5 Crore
680             11 Crore
681           1.35 Crore
682            1.9 Crore
683           3.25 Crore
684             19 Crore
685            7.3 Crore
686            5.6 Crore
687           2.55 Crore
688            2.4 Crore
689           18.5 Crore
690             26 Crore
691            1.7 Crore
692            1.6 Crore
693           4.35 Crore
694            6.8 Crore
695             10 Crore
696            4.6 Crore
697           12.5 Crore
698            2.9 Crore
699           27.5 Crore
700              8 Crore
701           2.25 Crore
702           8.31 Crore
703           6.21 Crore
704           7.35 Crore
705            4.5 Crore
706            6.5 Crore
707           1.83 Crore
708           7.35 Crore
709           10.5 Crore
710           2.75 Crore
711            6.5 Crore
712            7.5 Crore
713              8 Crore
714            5.5 Crore
715           4.35 Crore
716           2.75 Crore
717             18 Crore
718             17 Crore
719           3.75 Crore
720           13.5 Crore
721           4.75 Crore
722            5.1 Crore
723            3.9 Crore
724           6.25 Crore
725          10.55 Crore
726           2.01 Crore
727           3.25 Crore
728           9.25 Crore
729              6 Crore
730           5.25 Crore
731                  NaN
732             26 Crore
733           5.88 Crore
734            52.75 Lac
735            46.75 Lac
736          12.25 Crore
737          10.45 Crore
738             12 Crore
739                  NaN
740            6.4 Crore
741           4.35 Crore
742           2.95 Crore
743              3 Crore
744           1.15 Crore
745           8.25 Crore
746           13.5 Crore
747             15 Crore
748            5.5 Crore
749             18 Crore
750            5.8 Crore
751           12.5 Crore
752           3.51 Crore
753            3.5 Crore
754            9.4 Crore
755           10.3 Crore
756              6 Crore
757           8.45 Crore
758           7.25 Crore
759              4 Crore
760           6.15 Crore
761            4.6 Crore
762           12.5 Crore
763             10 Crore
764             16 Crore
765           12.5 Crore
766             16 Crore
767             10 Crore
768                  NaN
769            2.8 Crore
770           6.75 Crore
771            2.5 Crore
772              8 Crore
785           2.47 Crore
786            3.7 Crore
787           18.4 Crore
788            4.6 Crore
789           3.65 Crore
790             12 Crore
791            4.5 Crore
792            4.4 Crore
793           7.25 Crore
794               99 Lac
795                  NaN
796             20 Crore
797           2.65 Crore
798           2.95 Crore
799            3.6 Crore
800           1.27 Crore
801               75 Lac
802              6 Crore
803                  NaN
804            6.5 Crore
805             18 Crore
806          11.29 Crore
807           8.49 Crore
808            8.5 Crore
809              6 Crore
810            9.5 Crore
811           19.5 Crore
812           10.5 Crore
813           4.31 Crore
814           6.95 Crore
815           10.5 Crore
816           10.5 Crore
817            5.8 Crore
818            4.6 Crore
819          11.58 Crore

In [ ]:
df=df[df['price']!='Price on Request']

In [ ]:
df['price'].isnull().sum()

np.int64(68)

In [ ]:
df.dropna(subset=['price'],inplace=True)

In [ ]:
def price_convert(x):
  x=str(x)
  number,amount=x.split(' ')
  if(amount=='Lac'):
    return float(number)/100
  elif(amount=='Crore'):
    return float(number)

In [ ]:
df['price']=df['price'].apply(price_convert)
df['price'] = df['price'].round(2)

In [ ]:
df.head(5)

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5.00,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3.00,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [ ]:
df['rate'].value_counts()

rate
₹ 22,222/sq.ft.     13
₹ 33,333/sq.ft.     11
₹ 11,111/sq.ft.     11
₹ 10,000/sq.ft.     10
₹ 26,667/sq.ft.      6
₹ 37,037/sq.ft.      6
₹ 26,235/sq.ft.      6
₹ 31,481/sq.ft.      6
₹ 30,556/sq.ft.      6
₹ 5,000/sq.ft.       5
₹ 9,444/sq.ft.       5
₹ 8,889/sq.ft.       5
₹ 23,148/sq.ft.      5
₹ 23,333/sq.ft.      5
₹ 8,000/sq.ft.       5
₹ 24,691/sq.ft.      4
₹ 13,333/sq.ft.      4
₹ 9,722/sq.ft.       4
₹ 27,778/sq.ft.      4
₹ 34,722/sq.ft.      4
₹ 35,000/sq.ft.      4
₹ 21,605/sq.ft.      4
₹ 18,889/sq.ft.      4
₹ 32,407/sq.ft.      4
₹ 25,000/sq.ft.      3
₹ 50,000/sq.ft.      3
₹ 12,000/sq.ft.      3
₹ 11,250/sq.ft.      3
₹ 20,000/sq.ft.      3
₹ 15,625/sq.ft.      3
₹ 8,333/sq.ft.       3
₹ 6,944/sq.ft.       3
₹ 13,889/sq.ft.      3
₹ 32,222/sq.ft.      3
₹ 10,556/sq.ft.      3
₹ 12,222/sq.ft.      3
₹ 60,000/sq.ft.      3
₹ 8,235/sq.ft.       3
₹ 25,926/sq.ft.      3
₹ 29,880/sq.ft.      3
₹ 33,951/sq.ft.      3
₹ 8,444/sq.ft.       3
₹ 5,555/sq.ft.       3
₹ 14,815/sq.ft.      3
₹ 15,555/sq.ft.      3
₹ 36,111/sq.ft.      3
₹ 9,000/sq.ft.       2
₹ 38,194/sq.ft.      2
₹ 12,444/sq.ft.      2
₹ 9,259/sq.ft.       2
₹ 100,000/sq.ft.     2
₹ 8,888/sq.ft.       2
₹ 6,666/sq.ft.       2
₹ 12,500/sq.ft.      2
₹ 13,000/sq.ft.      2
₹ 11,574/sq.ft.      2
₹ 42,222/sq.ft.      2
₹ 4,444/sq.ft.       2
₹ 7,407/sq.ft.       2
₹ 17,778/sq.ft.      2
₹ 29,630/sq.ft.      2
₹ 26,852/sq.ft.      2
₹ 35,185/sq.ft.      2
₹ 17,037/sq.ft.      2
₹ 38,580/sq.ft.      2
₹ 35,556/sq.ft.      2
₹ 12,342/sq.ft.      2
₹ 15,257/sq.ft.      2
₹ 10,518/sq.ft.      2
₹ 45,833/sq.ft.      2
₹ 7,500/sq.ft.       2
₹ 44,444/sq.ft.      2
₹ 20,833/sq.ft.      2
₹ 23,457/sq.ft.      2
₹ 20,635/sq.ft.      2
₹ 24,155/sq.ft.      2
₹ 24,306/sq.ft.      2
₹ 3,500/sq.ft.       2
₹ 75,000/sq.ft.      2
₹ 21,759/sq.ft.      2
₹ 10,753/sq.ft.      2
₹ 59,259/sq.ft.      2
₹ 3,857/sq.ft.       2
₹ 37,627/sq.ft.      2
₹ 39,841/sq.ft.      2
₹ 11,852/sq.ft.      2
₹ 55,000/sq.ft.      2
₹ 24,500/sq.ft.      2
₹ 12,963/sq.ft.      2
₹ 7,058/sq.ft.       2
₹ 14,444/sq.ft.      2
₹ 38,760/sq.ft.      2
₹ 24,845/sq.ft.      2
₹ 17,284/sq.ft.      2
₹ 10,101/sq.ft.      2
₹ 26,389/sq.ft.      2
₹ 32,963/sq.ft.      2
₹ 9,634/sq.ft.       2
₹ 21,124/sq.ft.      2
₹ 32,328/sq.ft.      2
₹ 48,148/sq.ft.      2
₹ 25,562/sq.ft.      2
₹ 38,095/sq.ft.      2
₹ 18,888/sq.ft.      1
₹ 26,428/sq.ft.      1
₹ 82,540/sq.ft.      1
₹ 51,440/sq.ft.      1
₹ 13,501/sq.ft.      1
₹ 20,988/sq.ft.      1
₹ 400,000/sq.ft.     1
₹ 21,296/sq.ft.      1
₹ 18,626/sq.ft.      1
₹ 24,366/sq.ft.      1
₹ 26,298/sq.ft.      1
₹ 24,171/sq.ft.      1
₹ 53,763/sq.ft.      1
₹ 14,351/sq.ft.      1
₹ 27,191/sq.ft.      1
₹ 34,351/sq.ft.      1
₹ 241,666/sq.ft.     1
₹ 34,491/sq.ft.      1
₹ 33,592/sq.ft.      1
₹ 24,455/sq.ft.      1
₹ 194,444/sq.ft.     1
₹ 20,741/sq.ft.      1
₹ 11,600/sq.ft.      1
₹ 13,492/sq.ft.      1
₹ 28,782/sq.ft.      1
₹ 11,157/sq.ft.      1
₹ 21,495/sq.ft.      1
₹ 42,054/sq.ft.      1
₹ 1,560/sq.ft.       1
₹ 13,178/sq.ft.      1
₹ 18,444/sq.ft.      1
₹ 39,530/sq.ft.      1
₹ 38,889/sq.ft.      1
₹ 57,206/sq.ft.      1
₹ 24,573/sq.ft.      1
₹ 27,222/sq.ft.      1
₹ 63,554/sq.ft.      1
₹ 23,932/sq.ft.      1
₹ 10,601/sq.ft.      1
₹ 6,778/sq.ft.       1
₹ 32,253/sq.ft.      1
₹ 23,704/sq.ft.      1
₹ 23,693/sq.ft.      1
₹ 79,365/sq.ft.      1
₹ 15,989/sq.ft.      1
₹ 19,268/sq.ft.      1
₹ 19,360/sq.ft.      1
₹ 26,063/sq.ft.      1
₹ 23,437/sq.ft.      1
₹ 20,940/sq.ft.      1
₹ 23,000/sq.ft.      1
₹ 29,697/sq.ft.      1
₹ 47,803/sq.ft.      1
₹ 22,812/sq.ft.      1
₹ 261,194/sq.ft.     1
₹ 178,571/sq.ft.     1
₹ 27,461/sq.ft.      1
₹ 31,686/sq.ft.      1
₹ 24,005/sq.ft.      1
₹ 17,662/sq.ft.      1
₹ 39,062/sq.ft.      1
₹ 33,404/sq.ft.      1
₹ 20,068/sq.ft.      1
₹ 32,870/sq.ft.      1
₹ 16,569/sq.ft.      1
₹ 21,242/sq.ft.      1
₹ 32,562/sq.ft.      1
₹ 22,429/sq.ft.      1
₹ 23,061/sq.ft.      1
₹ 10,484/sq.ft.      1
₹ 160,000/sq.ft.     1
₹ 8,127/sq.ft.       1
₹ 7,555/sq.ft.       1
₹ 49,500/sq.ft.      1
₹ 13,030/sq.ft.      1
₹ 308,333/sq.ft.     1
₹ 10,610/sq.ft.      1
₹ 15,444/sq.ft.      1
₹ 8,155/sq.ft.       1
₹ 10,591/sq.ft.      1
₹ 24,074/sq.ft.      1
₹ 24,202/sq.ft.      1
₹ 5,160/sq.ft.       1
₹ 144,444/sq.ft.     1
₹ 9,615/sq.ft.       1
₹ 6,813/sq.ft.       1
₹ 15,046/sq.ft.      1
₹ 7,302/sq.ft.       1
₹ 84,000/sq.ft.      1
₹ 6,938/sq.ft.       1
₹ 266,666/sq.ft.     1
₹ 7,539/sq.ft.       1
₹ 10,067/sq.ft.      1
₹ 1,649/sq.ft.       1
₹ 28,787/sq.ft.      1
₹ 28,898/sq.ft.      1
₹ 28,200/sq.ft.      1
₹ 18,658/sq.ft.      1
₹ 20,026/sq.ft.      1
₹ 20,444/sq.ft.      1
₹ 23,870/sq.ft.      1
₹ 6,289/sq.ft.       1
₹ 17,857/sq.ft.      1
₹ 7,000/sq.ft.       1
₹ 14,166/sq.ft.      1
₹ 30,968/sq.ft.      1
₹ 7,777/sq.ft.       1
₹ 7,168/sq.ft.       1
₹ 33,665/sq.ft.      1
₹ 51,864/sq.ft.      1
₹ 44,265/sq.ft.      1
₹ 29,444/sq.ft.      1
₹ 39,074/sq.ft.      1
₹ 38,734/sq.ft.      1
₹ 23,442/sq.ft.      1
₹ 41,833/sq.ft.      1
₹ 600,000/sq.ft.     1
₹ 11,583/sq.ft.      1
₹ 10,260/sq.ft.      1
₹ 31,915/sq.ft.      1
₹ 11,102/sq.ft.      1
₹ 8,866/sq.ft.       1
₹ 36,911/sq.ft.      1
₹ 2,716/sq.ft.       1
₹ 6,230/sq.ft.       1
₹ 11,240/sq.ft.      1
₹ 15,437/sq.ft.      1
₹ 23,889/sq.ft.      1
₹ 6,034/sq.ft.       1
₹ 10,085/sq.ft.      1
₹ 40,611/sq.ft.      1
₹ 20,349/sq.ft.      1
₹ 29,629/sq.ft.      1
₹ 10,740/sq.ft.      1
₹ 17,980/sq.ft.      1
₹ 19,737/sq.ft.      1
₹ 5,093/sq.ft.       1
₹ 34,307/sq.ft.      1
₹ 7,007/sq.ft.       1
₹ 8,920/sq.ft.       1
₹ 20,566/sq.ft.      1
₹ 35,294/sq.ft.      1
₹ 8,254/sq.ft.       1
₹ 5,128/sq.ft.       1
₹ 5,777/sq.ft.       1
₹ 15,926/sq.ft.      1
₹ 14,285/sq.ft.      1
₹ 25,463/sq.ft.      1
₹ 37,778/sq.ft.      1
₹ 20,317/sq.ft.      1
₹ 22,331/sq.ft.      1
₹ 31,111/sq.ft.      1
₹ 12,393/sq.ft.      1
₹ 17,213/sq.ft.      1
₹ 18,620/sq.ft.      1
₹ 17,014/sq.ft.      1
₹ 235,376/sq.ft.     1
₹ 7,172/sq.ft.       1
₹ 29,638/sq.ft.      1
₹ 290,948/sq.ft.     1
₹ 8,137/sq.ft.       1
₹ 7,582/sq.ft.       1
₹ 18,605/sq.ft.      1
₹ 29,333/sq.ft.      1
₹ 16,066/sq.ft.      1
₹ 40,741/sq.ft.      1
₹ 7,750/sq.ft.       1
₹ 47,167/sq.ft.      1
₹ 7,937/sq.ft.       1
₹ 20,197/sq.ft.      1
₹ 34,037/sq.ft.      1
₹ 16,600/sq.ft.      1
₹ 10,123/sq.ft.      1
₹ 28,858/sq.ft.      1
₹ 28,549/sq.ft.      1
₹ 29,074/sq.ft.      1
₹ 13,513/sq.ft.      1
₹ 20,769/sq.ft.      1
₹ 34,568/sq.ft.      1
₹ 21,097/sq.ft.      1
₹ 25,556/sq.ft.      1
₹ 7,756/sq.ft.       1
₹ 21,825/sq.ft.      1
₹ 16,577/sq.ft.      1
₹ 17,706/sq.ft.      1
₹ 18,088/sq.ft.      1
₹ 41,818/sq.ft.      1
₹ 19,231/sq.ft.      1
₹ 6,875/sq.ft.       1
₹ 14,667/sq.ft.      1
₹ 14,787/sq.ft.      1
₹ 27,160/sq.ft.      1
₹ 16,319/sq.ft.      1
₹ 18,250/sq.ft.      1
₹ 22,855/sq.ft.      1
₹ 30,728/sq.ft.      1
₹ 41,315/sq.ft.      1
₹ 3,786/sq.ft.       1
₹ 9,349/sq.ft.       1
₹ 21,251/sq.ft.      1
₹ 23,504/sq.ft.      1
₹ 234,375/sq.ft.     1
₹ 15,432/sq.ft.      1
₹ 21,786/sq.ft.      1
₹ 27,390/sq.ft.      1
₹ 55,556/sq.ft.      1
₹ 27,132/sq.ft.      1
₹ 38,986/sq.ft.      1
₹ 24,510/sq.ft.      1
₹ 11,428/sq.ft.      1
₹ 22,184/sq.ft.      1
₹ 30,247/sq.ft.      1
₹ 22,046/sq.ft.      1
₹ 20,299/sq.ft.      1
₹ 31,666/sq.ft.      1
₹ 283,333/sq.ft.     1
₹ 18,008/sq.ft.      1
₹ 35,530/sq.ft.      1
₹ 12,285/sq.ft.      1
₹ 19,293/sq.ft.      1
₹ 20,599/sq.ft.      1
₹ 173,992/sq.ft.     1
₹ 21,367/sq.ft.      1
₹ 20,370/sq.ft.      1
₹ 18,808/sq.ft.      1
₹ 10,579/sq.ft.      1
₹ 42,194/sq.ft.      1
₹ 15,278/sq.ft.      1
₹ 201,388/sq.ft.     1
₹ 17,187/sq.ft.      1
₹ 26,502/sq.ft.      1
₹ 38,251/sq.ft.      1
₹ 11,666/sq.ft.      1
₹ 10,926/sq.ft.      1
₹ 19,608/sq.ft.      1
₹ 8,089/sq.ft.       1
₹ 6,849/sq.ft.       1
₹ 19,607/sq.ft.      1
₹ 40,000/sq.ft.      1
₹ 34,846/sq.ft.      1
₹ 31,444/sq.ft.      1
₹ 27,083/sq.ft.      1
₹ 18,928/sq.ft.      1
₹ 40,850/sq.ft.      1
₹ 24,390/sq.ft.      1
₹ 26,111/sq.ft.      1
₹ 31,790/sq.ft.      1
₹ 29,293/sq.ft.      1
₹ 16,004/sq.ft.      1
₹ 27,333/sq.ft.      1
₹ 17,624/sq.ft.      1
₹ 1,859/sq.ft.       1
₹ 12,037/sq.ft.      1
₹ 30,864/sq.ft.      1
₹ 161,849/sq.ft.     1
₹ 19,847/sq.ft.      1
₹ 16,056/sq.ft.      1
₹ 17,707/sq.ft.      1
₹ 10,838/sq.ft.      1
₹ 7,718/sq.ft.       1
₹ 25,535/sq.ft.      1
₹ 17,820/sq.ft.      1
₹ 7,870/sq.ft.       1
₹ 28,233/sq.ft.      1
₹ 15,111/sq.ft.      1
₹ 18,885/sq.ft.      1
₹ 19,820/sq.ft.      1
₹ 1,087/sq.ft.       1
₹ 36,883/sq.ft.      1
₹ 27,871/sq.ft.      1
₹ 43,210/sq.ft.      1
₹ 35,109/sq.ft.      1
₹ 17,692/sq.ft.      1
₹ 38,022/sq.ft.      1
₹ 25,309/sq.ft.      1
₹ 16,990/sq.ft.      1
₹ 14,222/sq.ft.      1
₹ 21,219/sq.ft.      1
₹ 16,388/sq.ft.      1
₹ 22,075/sq.ft.      1
₹ 19,125/sq.ft.      1
₹ 31,926/sq.ft.      1
₹ 38,611/sq.ft.      1
₹ 27,911/sq.ft.      1
₹ 29,022/sq.ft.      1
₹ 12,837/sq.ft.      1
₹ 12,198/sq.ft.      1
₹ 35,741/sq.ft.      1
₹ 16,666/sq.ft.      1
₹ 9,390/sq.ft.       1
₹ 15,000/sq.ft.      1
₹ 14,000/sq.ft.      1
₹ 23,556/sq.ft.      1
₹ 10,035/sq.ft.      1
₹ 28,841/sq.ft.      1
₹ 26,615/sq.ft.      1
₹ 16,975/sq.ft.      1
₹ 62,222/sq.ft.      1
₹ 18,814/sq.ft.      1
₹ 6,597/sq.ft.       1
₹ 7,827/sq.ft.       1
₹ 12,592/sq.ft.      1
₹ 15,384/sq.ft.      1
₹ 7,843/sq.ft.       1
₹ 29,336/sq.ft.      1
₹ 10,288/sq.ft.      1
₹ 11,284/sq.ft.      1
₹ 11,029/sq.ft.      1
₹ 10,277/sq.ft.      1
₹ 8,518/sq.ft.       1
₹ 12,551/sq.ft.      1
₹ 557/sq.ft.         1
₹ 8,947/sq.ft.       1
₹ 39,265/sq.ft.      1
₹ 6,083/sq.ft.       1
₹ 230,547/sq.ft.     1
₹ 8,411/sq.ft.       1
₹ 32,291/sq.ft.      1
₹ 41,666/sq.ft.      1
₹ 7,280/sq.ft.       1
₹ 10,555/sq.ft.      1
₹ 24,214/sq.ft.      1
₹ 26,613/sq.ft.      1
₹ 138,888/sq.ft.     1
₹ 7,666/sq.ft.       1
₹ 4,666/sq.ft.       1
₹ 7,778/sq.ft.       1
₹ 40,775/sq.ft.      1
₹ 99,173/sq.ft.      1
₹ 6,172/sq.ft.       1
₹ 7,589/sq.ft.       1
₹ 80,357/sq.ft.      1
₹ 4,117/sq.ft.       1
₹ 7,308/sq.ft.       1
₹ 8,701/sq.ft.       1
₹ 2,296/sq.ft.       1
₹ 9,793/sq.ft.       1
₹ 6,250/sq.ft.       1
₹ 8,486/sq.ft.       1
₹ 11,717/sq.ft.      1
₹ 9,111/sq.ft.       1
₹ 20,359/sq.ft.      1
₹ 5,833/sq.ft.       1
₹ 11,693/sq.ft.      1
₹ 53,125/sq.ft.      1
₹ 17,900/sq.ft.      1
₹ 39,886/sq.ft.      1
₹ 126,865/sq.ft.     1
₹ 40,909/sq.ft.      1
₹ 27,155/sq.ft.      1
₹ 90,000/sq.ft.      1
₹ 14,167/sq.ft.      1
₹ 13,157/sq.ft.      1
₹ 5,888/sq.ft.       1
₹ 7,875/sq.ft.       1
₹ 9,654/sq.ft.       1
₹ 4,808/sq.ft.       1
₹ 8,222/sq.ft.       1
₹ 11,273/sq.ft.      1
₹ 7,627/sq.ft.       1
₹ 14,492/sq.ft.      1
₹ 10,089/sq.ft.      1
₹ 8,697/sq.ft.       1
₹ 8,500/sq.ft.       1
₹ 9,333/sq.ft.       1
₹ 21,667/sq.ft.      1
₹ 20,425/sq.ft.      1
₹ 5,472/sq.ft.       1
₹ 57,692/sq.ft.      1
₹ 10,482/sq.ft.      1
₹ 20,323/sq.ft.      1
₹ 8,735/sq.ft.       1
₹ 18,667/sq.ft.      1
₹ 2,525/sq.ft.       1
₹ 17,695/sq.ft.      1
₹ 21,519/sq.ft.      1
₹ 17,817/sq.ft.      1
₹ 2/sq.ft.           1
₹ 6,173/sq.ft.       1
₹ 13,888/sq.ft.      1
₹ 25,386/sq.ft.      1
₹ 28,490/sq.ft.      1
₹ 122,222/sq.ft.     1
₹ 13,542/sq.ft.      1
₹ 19,097/sq.ft.      1
₹ 7,290/sq.ft.       1
₹ 27,741/sq.ft.      1
₹ 43,534/sq.ft.      1
₹ 45,889/sq.ft.      1
₹ 20,690/sq.ft.      1
₹ 28,283/sq.ft.      1
₹ 16,378/sq.ft.      1
₹ 37,777/sq.ft.      1
₹ 12,519/sq.ft.      1
₹ 27,971/sq.ft.      1
₹ 21,000/sq.ft.      1
₹ 35,400/sq.ft.      1
₹ 40,135/sq.ft.      1
₹ 16,244/sq.ft.      1
₹ 10,463/sq.ft.      1
₹ 29,716/sq.ft.      1
₹ 16,071/sq.ft.      1
₹ 23,240/sq.ft.      1
₹ 48,889/sq.ft.      1
₹ 33,129/sq.ft.      1
₹ 20,115/sq.ft.      1
₹ 105,751/sq.ft.     1
₹ 38,150/sq.ft.      1
₹ 10,077/sq.ft.      1
₹ 34,083/sq.ft.      1
₹ 24,170/sq.ft.      1
₹ 14,914/sq.ft.      1
₹ 29,861/sq.ft.      1
₹ 41,762/sq.ft.      1
₹ 15,451/sq.ft.      1
₹ 12,938/sq.ft.      1
₹ 43,066/sq.ft.      1
₹ 9,374/sq.ft.       1
₹ 13,410/sq.ft.      1
₹ 32,593/sq.ft.      1
₹ 33,200/sq.ft.      1
₹ 92,857/sq.ft.      1
₹ 88,157/sq.ft.      1
₹ 29,974/sq.ft.      1
₹ 2,778/sq.ft.       1
₹ 46,906/sq.ft.      1
₹ 23,699/sq.ft.      1
₹ 25,960/sq.ft.      1
₹ 28,424/sq.ft.      1
₹ 4,490/sq.ft.       1
₹ 41,615/sq.ft.      1
₹ 25,111/sq.ft.      1
₹ 7,309/sq.ft.       1
₹ 74,074/sq.ft.      1
₹ 10,233/sq.ft.      1
₹ 8,878/sq.ft.       1
₹ 14,286/sq.ft.      1
₹ 8,928/sq.ft.       1
₹ 8,007/sq.ft.       1
₹ 5,698/sq.ft.       1
₹ 14,729/sq.ft.      1
₹ 38,703/sq.ft.      1
₹ 8,557/sq.ft.       1
₹ 16,428/sq.ft.      1
₹ 13,519/sq.ft.      1
₹ 42,032/sq.ft.      1
₹ 24,069/sq.ft.      1
₹ 14,650/sq.ft.      1
₹ 13,778/sq.ft.      1
₹ 21,250/sq.ft.      1
₹ 86,567/sq.ft.      1
₹ 12,593/sq.ft.      1
₹ 25,514/sq.ft.      1
₹ 17,650/sq.ft.      1
₹ 24,280/sq.ft.      1
₹ 26,423/sq.ft.      1
₹ 8,916/sq.ft.       1
₹ 36,667/sq.ft.      1
₹ 9,028/sq.ft.       1
₹ 4,074/sq.ft.       1
₹ 630/sq.ft.         1
₹ 38,667/sq.ft.      1
₹ 19,753/sq.ft.      1
₹ 76,000/sq.ft.      1
₹ 63,492/sq.ft.      1
₹ 2,500/sq.ft.       1
₹ 6,667/sq.ft.       1
₹ 3,704/sq.ft.       1
₹ 12,777/sq.ft.      1
₹ 6,648/sq.ft.       1
₹ 11,407/sq.ft.      1
₹ 5,666/sq.ft.       1
₹ 20,062/sq.ft.      1
₹ 11,494/sq.ft.      1
₹ 25,543/sq.ft.      1
₹ 12,343/sq.ft.      1
₹ 16,892/sq.ft.      1
₹ 17,500/sq.ft.      1
₹ 3,904/sq.ft.       1
₹ 14,323/sq.ft.      1
₹ 4,222/sq.ft.       1
₹ 20,233/sq.ft.      1
₹ 8,012/sq.ft.       1
₹ 183,333/sq.ft.     1
₹ 10,142/sq.ft.      1
₹ 8,125/sq.ft.       1
₹ 14,583/sq.ft.      1
₹ 11,538/sq.ft.      1
₹ 8,730/sq.ft.       1
₹ 8,230/sq.ft.       1
₹ 13,095/sq.ft.      1
₹ 5,664/sq.ft.       1
₹ 30,384/sq.ft.      1
₹ 19,818/sq.ft.      1
₹ 1,992/sq.ft.       1
₹ 7,619/sq.ft.       1
₹ 98,214/sq.ft.      1
₹ 13,499/sq.ft.      1
₹ 7,820/sq.ft.       1
₹ 4,000/sq.ft.       1
₹ 14,720/sq.ft.      1
₹ 29,311/sq.ft.      1
₹ 7,479/sq.ft.       1
₹ 7,400/sq.ft.       1
₹ 16,003/sq.ft.      1
₹ 9,103/sq.ft.       1
₹ 7,727/sq.ft.       1
₹ 45,710/sq.ft.      1
₹ 8,702/sq.ft.       1
₹ 5,950/sq.ft.       1
₹ 26,973/sq.ft.      1
₹ 181,818/sq.ft.     1
₹ 6,000/sq.ft.       1
₹ 14,890/sq.ft.      1
₹ 9,210/sq.ft.       1
₹ 6,800/sq.ft.       1
₹ 7,333/sq.ft.       1
₹ 8,101/sq.ft.       1
₹ 14,184/sq.ft.      1
₹ 4,260/sq.ft.       1
₹ 10,582/sq.ft.      1
₹ 13,750/sq.ft.      1
₹ 26,620/sq.ft.      1
₹ 9,500/sq.ft.       1
₹ 17,937/sq.ft.      1
₹ 3,254/sq.ft.       1
₹ 5,333/sq.ft.       1
₹ 4,583/sq.ft.       1
₹ 21,875/sq.ft.      1
₹ 16,667/sq.ft.      1
₹ 7,075/sq.ft.       1
₹ 4,877/sq.ft.       1
₹ 4,251/sq.ft.       1
₹ 17,584/sq.ft.      1
₹ 5,397/sq.ft.       1
₹ 9,074/sq.ft.       1
₹ 5,583/sq.ft.       1
₹ 3,519/sq.ft.       1
₹ 11,194/sq.ft.      1
₹ 6,981/sq.ft.       1
₹ 6,702/sq.ft.       1
₹ 18,333/sq.ft.      1
₹ 8,078/sq.ft.       1
₹ 26,570/sq.ft.      1
₹ 6,410/sq.ft.       1
₹ 133,079/sq.ft.     1
₹ 5,778/sq.ft.       1
₹ 6,111/sq.ft.       1
₹ 78,125/sq.ft.      1
₹ 17,955/sq.ft.      1
₹ 7,916/sq.ft.       1
₹ 211,111/sq.ft.     1
₹ 7,111/sq.ft.       1
₹ 120,000/sq.ft.     1
₹ 22,297/sq.ft.      1
₹ 125,000/sq.ft.     1
₹ 73,333/sq.ft.      1
₹ 6,790/sq.ft.       1
₹ 315,789/sq.ft.     1
₹ 10,224/sq.ft.      1
₹ 3,285/sq.ft.       1
₹ 74,000/sq.ft.      1
₹ 80,000/sq.ft.      1
₹ 6,567/sq.ft.       1
₹ 22,068/sq.ft.      1
₹ 8,386/sq.ft.       1
₹ 28,674/sq.ft.      1
₹ 9,725/sq.ft.       1
₹ 21,111/sq.ft.      1
₹ 10,784/sq.ft.      1
₹ 12,162/sq.ft.      1
₹ 8,910/sq.ft.       1
₹ 22,634/sq.ft.      1
₹ 8,796/sq.ft.       1
₹ 7,522/sq.ft.       1
₹ 5,658/sq.ft.       1
₹ 24,545/sq.ft.      1
₹ 7,701/sq.ft.       1
₹ 14,072/sq.ft.      1
₹ 26,000/sq.ft.      1
₹ 24,305/sq.ft.      1
₹ 19,286/sq.ft.      1
₹ 19,869/sq.ft.      1
₹ 16,389/sq.ft.      1
₹ 31,506/sq.ft.      1
₹ 12,820/sq.ft.      1
₹ 229,885/sq.ft.     1
₹ 12,400/sq.ft.      1
₹ 232/sq.ft.         1
₹ 218,750/sq.ft.     1
₹ 54,794/sq.ft.      1
₹ 14,245/sq.ft.      1
₹ 27,139/sq.ft.      1
₹ 37,313/sq.ft.      1
₹ 90,909/sq.ft.      1
₹ 10,122/sq.ft.      1
₹ 8,642/sq.ft.       1
₹ 6,481/sq.ft.       1
₹ 6,707/sq.ft.       1
₹ 245,398/sq.ft.     1
₹ 11,904/sq.ft.      1
₹ 9,135/sq.ft.       1
₹ 6,367/sq.ft.       1
₹ 23,662/sq.ft.      1
₹ 17,574/sq.ft.      1
₹ 9,091/sq.ft.       1
₹ 23,557/sq.ft.      1
₹ 105,263/sq.ft.     1
₹ 21,195/sq.ft.      1
₹ 151/sq.ft.         1
₹ 25,103/sq.ft.      1
₹ 14,954/sq.ft.      1
₹ 32,258/sq.ft.      1
₹ 6,500/sq.ft.       1
₹ 35,494/sq.ft.      1
₹ 11,464/sq.ft.      1
₹ 11,718/sq.ft.      1
₹ 11,555/sq.ft.      1
₹ 3,874/sq.ft.       1
₹ 7,576/sq.ft.       1
₹ 11,556/sq.ft.      1
₹ 10,378/sq.ft.      1
₹ 11,888/sq.ft.      1
₹ 8,784/sq.ft.       1
Name: count, dtype: int64

In [ ]:
df['rate'].isnull().sum()

np.int64(0)

In [ ]:
df.rename(columns={'rate':'price_per_sqft'},inplace=True)

In [ ]:
df['rate']=df['rate'].str.split('/').str.get(0).str.replace('₹','').str.replace(',','')

In [ ]:
df.head(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25,20115,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,38251,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5.00,43066,(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3.00,53763,(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 945 entries, 0 to 1043
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    945 non-null    object
 1   society          945 non-null    object
 2   price            945 non-null    float64
 3   price_per_sqft   945 non-null    int64
 4   area             945 non-null    object
 5   areaWithType     945 non-null    object
 6   bedRoom          945 non-null    object
 7   bathroom         945 non-null    object
 8   balcony          945 non-null    object
 9   additionalRoom   566 non-null    object
 10  address          940 non-null    object
 11  noOfFloor        926 non-null    object
 12  facing           648 non-null    object
 13  agePossession    945 non-null    object
 14  nearbyLocations  830 non-null    object
 15  description      945 non-null    object
 16  furnishDetails   715 non-null    object
 17  features         647 non-null    object
 18  rating           825 non-null    object
dtypes: float64(1), int64(1), object(17)
memory usage: 147.7+ KB

In [ ]:
df['price_per_sqft']=df['price_per_sqft'].astype(int)

In [ ]:
df['area']=df['area'].str.split('sq').str.get(0).str.split('(').str.get(1)

In [ ]:
df.head(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25,20115,242,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751,50,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,38251,51,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5.00,43066,108,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3.00,53763,52,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [ ]:
df['bedRoom'].isnull().sum()

np.int64(0)

In [ ]:
df['bedRoom']=df['bedRoom'].str.split(' ').str.get(0)

In [ ]:
df['bedRoom']=df['bedRoom'].astype(int)

In [ ]:
df['bathroom'].value_counts()

bathroom
4 Bathrooms     225
3 Bathrooms     164
5 Bathrooms     132
2 Bathrooms     112
6 Bathrooms      82
1 Bathroom       64
9 Bathrooms      41
7 Bathrooms      37
8 Bathrooms      26
12 Bathrooms     21
10 Bathrooms     11
16 Bathrooms      7
13 Bathrooms      4
18 Bathrooms      4
11 Bathrooms      4
17 Bathrooms      3
20 Bathrooms      3
14 Bathrooms      2
21 Bathrooms      1
34 Bathrooms      1
36 Bathrooms      1
Name: count, dtype: int64

In [ ]:
df['bathroom']=df['bathroom'].str.split(' ').str.get(0)
df['bathroom']=df['bathroom'].astype(int)

In [ ]:
df['balcony'].value_counts()

balcony
3+ Balconies    352
2 Balconies     217
3 Balconies     158
No Balcony      114
1 Balcony       104
Name: count, dtype: int64

In [ ]:
df['balcony']=df['balcony'].str.split(' ').str.get(0)

In [ ]:
df['balcony']=df['balcony'].str.replace('No','0')

In [ ]:
df['additionalRoom'].value_counts()

additionalRoom
Servant Room                                     80
Pooja Room,Study Room,Servant Room,Store Room    59
Others                                           58
Pooja Room                                       38
Pooja Room,Study Room,Servant Room               32
Store Room                                       31
Pooja Room,Study Room,Servant Room,Others        29
Pooja Room,Servant Room                          24
Study Room                                       18
Study Room,Servant Room                          18
Servant Room,Store Room                          12
Pooja Room,Study Room                            11
Pooja Room,Others                                11
Pooja Room,Store Room                            11
Servant Room,Others                               8
Servant Room,Pooja Room                           8
Pooja Room,Servant Room,Store Room                7
Pooja Room,Store Room,Study Room,Servant Room     7
Servant Room,Pooja Room,Store Room                6
Store Room,Servant Room                           6
Study Room,Servant Room,Pooja Room,Store Room     6
Study Room,Pooja Room,Servant Room                5
Pooja Room,Servant Room,Others                    5
Servant Room,Study Room                           5
Servant Room,Study Room,Pooja Room,Store Room     5
Study Room,Servant Room,Store Room                4
Store Room,Pooja Room                             4
Pooja Room,Servant Room,Study Room,Store Room     4
Study Room,Servant Room,Store Room,Pooja Room     4
Servant Room,Store Room,Pooja Room                4
Pooja Room,Study Room,Others                      4
Pooja Room,Study Room,Store Room                  3
Study Room,Others                                 3
Study Room,Servant Room,Pooja Room                3
Study Room,Pooja Room,Servant Room,Store Room     3
Store Room,Pooja Room,Servant Room                2
Pooja Room,Study Room,Store Room,Servant Room     2
Study Room,Pooja Room,Store Room                  2
Store Room,Pooja Room,Study Room                  2
Servant Room,Study Room,Pooja Room                2
Study Room,Pooja Room,Store Room,Servant Room     2
Study Room,Pooja Room                             2
Study Room,Servant Room,Others                    2
Store Room,Pooja Room,Study Room,Servant Room     2
Servant Room,Study Room,Store Room,Pooja Room     1
Study Room,Store Room                             1
Study Room,Store Room,Pooja Room                  1
Store Room,Pooja Room,Servant Room,Study Room     1
Servant Room,Store Room,Study Room,Pooja Room     1
Store Room,Servant Room,Study Room,Pooja Room     1
Pooja Room,Store Room,Servant Room                1
Servant Room,Others,Pooja Room                    1
Study Room,Store Room,Servant Room,Pooja Room     1
Store Room,Study Room,Servant Room                1
Store Room,Servant Room,Pooja Room                1
Study Room,Others,Servant Room                    1
Name: count, dtype: int64

In [ ]:
df['additionalRoom'].isnull().sum()

np.int64(379)

In [ ]:
df['additionalRoom'] = df['additionalRoom'].fillna('Not available')

In [ ]:
df.head(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25,20115,242,Plot area 290(242.48 sq.m.),5,4,3+,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751,50,Plot area 539(50.07 sq.m.),5,4,2,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,38251,51,Plot area 61(51 sq.m.),10,10,3+,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5.00,43066,108,Plot area 129(107.86 sq.m.),21,21,3+,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3.00,53763,52,Plot area 62(51.84 sq.m.),12,12,3+,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [ ]:
df.rename(columns={'noOfFloor':'floorNum'},inplace=True)

In [ ]:
df['floorNum'].isnull().sum()

np.int64(19)

In [ ]:
df[df['floorNum'].isnull()]

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
23,4 Bedroom House for sale in Sector 48 Gurgaon,Vipul Tatvam Villa,8.50,26235,301,Plot area 360(301.01 sq.m.),4,4,2,"Pooja Room,Servant Room,Store Room","Sector 48 Gurgaon, Gurgaon, Haryana",NaN,East,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",Three side open villa in tatvam villa sector-4...,"['1 Chimney', '1 Modular Kitchen', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
51,8 Bedroom House for sale in Palam Vihar,independent,5.60,17284,301,Plot area 360(301.01 sq.m.),8,6,3+,"Pooja Room,Study Room,Servant Room,Store Room","Palam Vihar, Gurgaon, Haryana",NaN,South-West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",360 sq. Yards plot area near by global foyer m...,"['1 Fan', '1 Dining Table', '1 Light', '1 Modu...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
168,3 Bedroom House for sale in DLF Phase 3,independent,1.45,26852,50,Plot area 60(50.17 sq.m.),3,3,1,Not available,"DLF Phase 3, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...",Interested to sell independent house/villa.Pla...,NaN,['Private Garden / Terrace'],"['Environment4 out of 5', 'Lifestyle5 out of 5..."
217,3 Bedroom House for sale in Ashok Vihar,independent,1.50,10288,135,Plot area 162(135.45 sq.m.)Built Up area: 210 ...,3,3,0,Not available,"800 Lane 8 Ashok Vihar Part 1, Ashok Vihar, Gu...",NaN,NaN,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Ground floor and partial first floor built up,[],NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
235,2 Bedroom House for sale in Laxman Vihar Phase 2,independent,4.12,8889,431,Plot area 515(430.61 sq.m.),2,1,3+,Not available,"Laxman Vihar Phase 2, Gurgaon, Haryana",NaN,NaN,5 to 10 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Shre...","Property next to dhanwapur underpass, which is...",[],NaN,NaN
246,3 Bedroom House for sale in New Palam Vihar Ph...,independent,2.50,5472,372,Plot area 4000(371.61 sq.m.),3,2,1,Not available,"B-245, New Palam Vihar Phase 2, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",100 mtr from dwarka express way. On 40ft road,NaN,['Park'],NaN
327,4 Bedroom House for sale in Laxman Vihar,independent,0.65,11111,54,Plot area 65(54.35 sq.m.),4,2,2,Not available,"Laxman Vihar, Gurgaon, Haryana",NaN,NaN,5 to 10 Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Well maintained two storeyed independent house...,"['1 Wardrobe', '1 Exhaust Fan', '10 Light', '1...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
350,1 Bedroom House for sale in Sushant Lok Phase 1,Ansal Sushant Lok Plots,3.30,26570,115,Plot area 138(115.39 sq.m.),1,1,0,Not available,"Sushant Lok Phase 1, Gurgaon, Haryana",NaN,NaN,By 2027,"['Iffco chowk metro station', 'Huda city centr...","Close proximity to gold souk , huda city centr...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
370,2 Bedroom House for sale in Bhawani Enclave,independent,1.10,73333,14,Plot area 150(13.94 sq.m.),2,2,1,Others,"Bhawani Enclave, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['State bank ATM', 'Shri Multispeciality Hospi...","2 side open, 1 drawing room, 1 shop, 1 small r...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,NaN
513,2 Bedroom House for sale in Jacobpura,jacob pura,0.35,9722,33,Built Up area: 360 (33.45 sq.m.),2,1,0,Not available,"15/3, Jacobpura, Jacobpura, Gurgaon, Haryana",NaN,NaN,10+ Year Old,NaN,Independece house for sale in jacobpura near k...,[],NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
547,6 Bedroom House for sale in DLF Phase 2,independent,13.00,45710,264,Plot area 316(264.22 sq.m.),6,8,3+,"Pooja Room,Servant Room,Study Room,Store Room","DLF Phase 2, Gurgaon, Haryana",NaN,NaN,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Esic...",An impeccable opportunity is here for those wh...,"['1 Water Purifier', '1 Fridge', '1 Sofa', '1 ...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
619,3 Bedroom House for sale in New Colony,independent,6.50,15046,401,Plot area 480(401.34 sq.m.),3,2,3+,Not available,"New Colony, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Geeta Nursing Home Gurgaon', 'Chiranjiv Hosp...",Old construction house in new colony gurgaon.,[],['Private Garden / Terrace'],"['Environment4 out of 5', 'Lifestyle4 out of 5..."
662,12 Bedroom House for sale in Sector 46 Gurgaon,independent,6.81,36911,171,Plot area 205(171.41 sq.m.),12,14,3+,"Servant Room,Others","Sector 46 Gurgaon, Gurgaon, Haryana",NaN,East,0 to 1 Year Old,"['Axis bank ATM', 'State bank of india ATM', '...",204 sqyds newly floor wise building with basem...,"['14 Wardrobe', '15 Fan', '1 Exhaust Fan', '13...","['Feng Shui / Vaastu Compliant', 'Maintenance ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
785,4 Bedroom House for sale in Sector 86 Gurgaon,DLF New Town Heights 2,2.47,7718,297,Plot area 3200(297.29 sq.m.)Built Up area: 280...,4,4,3+,"Pooja Room,Servant Room","Sector 86 Gurgaon, Gurgaon, Haryana",NaN,West,5 to 10 Year Old,"['City Square', 'Vatika Town Square', 'Bharat ...",This is beautiful 4 bhk villa in dlf new town ...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
808,4 Bedroom House for sale in Sector 48 Gurgaon,Vipul Tatvam Villa,8.50,26235,301,Plot area 360(301.01 sq.m.),4,4,1,Not available,"4 Bed And 4 Bathroom, Sector 48 Gurgaon, Gurga...",NaN,NaN,1 to 5 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",360 sq yard 4 bhk residential villa for sale i...,"['4 Bed', '4 Fan', '1 Exhaust Fan', '4 Light',...","['Maintenance Staff', 'Water Storage', 'Separa...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
815,4 Bedroom House for sale in Sushant Lok Phase 1,Ansal Sushant Lok,10.50,27911,350,Plot area 418(349.5 sq.m.),4,4,2,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",NaN,North-East,10+ Year Old,"['Huda city centre metro station', 'New Life C...",Ansal villa for sale 418 sqyd in d block gated...,"['6 Fan', '6 Light', 'No AC', 'No Bed', 'No Ch...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
818,4 Bedroom House for sale in Sector 26 Gurgaon,independent,4.60,12198,350,Plot area 419(350.34 sq.m.),4,4,3+,Not available,"F-5/10, Sector 26 Gurgaon, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...",On the lookout for a spacious house in gurgaon...,[],"['Maintenance Staff', 'Park', 'Visitor Parking...",NaN
956,4 Bedroom House for sale in Sector 66 Gurgaon,Emaar MGF Marbella,9.00,21251,521,Plot area 5605(520.72 sq.m.)Built Up area: 520...,4,4,3+,"Pooja Room,Servant Room,Store Room","Sector 66 Gurgaon, Gurgaon, Haryana",NaN,South-West,1 to 5 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...",A lifestyle designed to satiate all your sense...,"['1 Water Purifier', '6 Fan', '1 Exhaust Fan',...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment3 out of 5', 'Safety4 out of 5', ..."
969,12 Bedroom House for sale in Uppals Southend,Uppal Southend,6.75,290948,22,Plot area 232(21.55 sq.m.),12,12,3+,"Pooja Room,Study Room,Servant Room,Others","Uppals Southend, Gurgaon, Haryana",NaN,West,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",Address... Uppal southend sector 49 s block si...,"['22 Wardrobe', '24 Fan', '1 Exhaust Fan', '33...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety5 out of 5', ..."

In [ ]:
df['floorNum'] = df['floorNum'].str.split(' ').str.get(0)

In [ ]:
df.to_csv('cleaned_flat.csv',index=False)